name: Build project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v5
      with:
        ref: pages
        persist-credentials: true

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build and publish
      run: |
        npm install
        npm run build

    - uses: EndBug/add-and-commit@v9
      with:
        add: 'dist'
        author_name: David Mobbs
        author_email: david.mobbs@gmail.com
        message: 'Pages update'
        push: true
